$gray-tint: rgb(142, 138, 138);
$orange-tint: #F2B705;
$dark-gray-tint: rgb(83, 83, 83);
$broken-white: rgb(215, 215, 212);
$background-color: rgb(238, 235, 227);

form {
    max-width: 30rem;
    background-color: $broken-white;
    border-radius: 10px;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;


}

label {
    margin-top: 1em;
    margin-bottom: 0.1em;
}

textarea {
    border: 1px solid $gray-tint;
    padding: 0.5em 1em;
    border-radius: 6px;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid $broken-white;

    &:focus {
        outline: none;
        border: 2px solid $orange-tint;
    }
}


input {

    border: 1px solid $gray-tint;
    padding: 0.5em 1em;
    border-radius: 6px;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid $broken-white;

    &[type=submit] {
        margin-top: 2em;
        width: 15ch;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;


        &:hover {
            transition: 300ms;
            background-color: $dark-gray-tint;
            color: $broken-white;

        }
    }

    &:focus {
        outline: none;
        border: 2px solid $orange-tint;
    }

    &#bericht {
        min-height: 4em;
    }





}

h3 {
    padding-bottom: 1em;
}

section.contact {

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    gap: 2em;
    padding-bottom: 2em;
    font-size: 1.1em;

    section {
        flex-basis: 80%;

    }

}

@media (max-width: 661px) {
    section.contact {
        display: block;

        p {
            margin-bottom: 1em;
            margin-top: 1em;
        }
    }


}